SECRET_KEY=this-is-a-test-for-development-environment$
DEBUG=0
# config db
ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=your_db
SQL_USER=your_db_user
SQL_PASSWORD=your_db_user_pass
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
URL_PRODUCTION=http://www.your_url_web.com
