/app/staticfiles/
/app/api/staticfiles/
/app/api/settings/conf_email.py
/app/log/cotizate_api_application.log.*
/app/log/cotizate_api_application.log
/app/api/settings/__pycache__/
/app/*/__pycache__/*.pyc
/app/*/*/__pycache__/*.pyc
/app/core/management/commands/__pycache__/*.pyc
/app/api/mediafiles/
.env
.env-db
.env-broker
.env.prod
.env.prod.db
.env.prod.pgadmin
.env.rabbitmq
.env.prod.rabbitmq
/app/.env
env
backend
git-detect.sh
TODO.md
#IDE
.vscode/
.idea/
