/app/staticfiles/
/app/api/staticfiles/
/app/api/settings/conf_email.py
/app/log/
/app/api/settings/__pycache__/
.env
.env.prod
.env.prod.db
.env.prod.pgadmin
.env.rabbitmq
.env.prod.rabbitmq
git-detect.sh
TODO.md

