Django>=3
psycopg2-binary
gunicorn
flake8
djangorestframework>=3.11
drf-yasg>=1.17.1
django-cors-headers
django-smtp-ssl
djangorestframework-jwt
Babel
celery
django-autoslug
django-filter
django-decouple
packaging
